
body{
	margin: 0;
	padding: 0;
	/*background: lightblue;*/
}
.form{
	width: 500px;
	padding: 20px;
	background-color: 4E342E;
	border-radius: 5px;
	/*box-shadow: 1px 1px 1px gray;*/
	margin: 25px auto;
	color: 4E342E;
	font-family: sans-serif,Arial;
}
label{
	font-weight: bold;
}
.input{
	width: 100%;
	height: 50px;
}
.input>div{
	float: left;
	min-width: 200px;
}
input[type="text"],
input[type="password"],
input[type="email"],
.input-opt{
	width: 200px;
	height: 30px;
	border-radius: 5px;
	color: gray;
	font-size: 16px;
	font-family: sans-serif,Arial;
	outline: none;
	margin-top: 5px;
	border: 2px solid #ddd;
}
.error{
	color: red;
	font-family: sans-serif,Arial;
	font-size: 14px;
	margin: 12px;
}
.correct{
	color: darkgreen;
	font-size: 16px;
	font-family: sans-serif,Arial;
}
.wrong{
	color:green;
}
.log_reg>a{
	color: #fff;
	font-size: 16px;
	font-family: sans-serif,Arial;
	text-decoration: none;
	padding: 20px;
}
