
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   /*background-color: #f57002;*/
   background-color: #00C853;


}

li {
   /* float: right;*/
    /*float: center;*/
    float: left;
}

li a {
display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
color: #1B5E20;

  background-color: #00E676;
}
