
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   background-color: #f57002;


}

li {
   /* float: right;*/
    /*float: center;*/
    float: left;
}

li a {
display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #f57002;
  color: white;
}


/*h1{
    color: blue;
    text-align: center;*/
}
body{
    background-image: url('../images/');
    background-repeat: no-repeat;

}
/*.hidden
{
        position:absolute;
        clip: rect(1px 1px 1px 1px); /* IE6 & 7 
          clip: rect(1px, 1px, 1px, 1px);
}
@media only screen and (max-width: 500px)
{
        header
        {
            margin-top: 80px;
            text-align: center;
        }        
        #spacer
        {
                height:auto;
                padding-bottom:15px;
        }
        #row
        {
                width:auto;
        }
        #row .img-item
        {
                width: 100%S;
                float:none;
                margin: 25px auto 0 auto;
        }
        #row .img-item1{
            width: 330px;
            float: none;
            margin-left: : 25px;
        }
        #row .pagination{
            display:block; 
            width:100%; 
            text-align:center; 
            clear:both;
        }
        #row .pagination a, #row .pagination strong{
            border-color:white; 
            color: white;
        }
        #row .pagination li{
            display:inline-block; 
            margin:0 1px 0 0; 
            margin-left: 0px;
        }
        #row .pagination li:last-child{
            margin-right:0;
        }
        #row .pagination a, #row .pagination strong{
            display:block;
         padding:3px 5px; 
         border:1px solid; 
         background-clip:padding-box; 
         font-weight:normal;
         margin-bottom: 20px;
}
        footer .wrapper
        {
                width:auto;
        }
        footer .wrapper a
        {
                margin: 0 auto 15px auto;
                max-width:300px;
        }
        #mobileMenu
        {
                display: block;
                z-index: 99;
        }
        .toggleMobile
        {
                position: fixed;
                top: 10px;
                left: 10px;
                display: block;
                width: 40px;
                height: 36px;
                cursor: pointer;
                z-index: 999;
        }
        .toggleMobile span.menu1, .toggleMobile span.menu2, .toggleMobile span.menu3, .toggleMobile span.menu4
        {
                display: block;
                position: absolute;
                width: 40px;
                height: 8px;
                left: 0;
                background: white;
                -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
                transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        }
        .toggleMobile span.menu1
        {
                top: 0;
        }
        .toggleMobile span.menu2
        {
                top: 14px;
        }
        .toggleMobile span.menu3
        {
                top: 28px;
        }
        .toggleMobile.active span.menu1
        {
                top: 14px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
                transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        }
        .toggleMobile.active span.menu2
        {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
                -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
                transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        }
        .toggleMobile.active span.menu3
        {
                opacity: 0;
                -webkit-transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
                transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        }
        header nav
        {
                display:none;
        }
        header h1
        {
                font-size:40px;
        }
        header p
        {
                margin-left: 60px;
                font-size:14px;
        }
        p{
                width: 300px;
                float:none;
                margin: 25px auto 0 auto;
                }

}*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col{
    float: left;
    padding: 15px;
}
.welcomescreen{
    color: red;
       padding: 15px;
       margin: 50px;
}
.title{
    font-size: 30px;
    color: blue;
    float: right;
}
@media only screen and (max-width:960px){
    body{
     
        background-color: lightblue;
    }
    
  

} 
@media only screen and (max-width:300px){
    body{
      width: 40%;
        background-color: yellow;
    }


} 

.motto1{
    color: blue;
    text-align: center;
    float: left;
}


  


